.comics {
  padding-top: 102px;
}

.comics-box {
  display: flex;
}

.comics-box__item {
  &:last-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 366px;
  }
}

.comics__box__title {
  padding-top: 25px;
  font-family: Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #000000;
}

