.hypnagogias {
  padding-top: 600px;
}

.hypnagogias__img {
  margin-bottom: 29px;
}

.hypnagogias__title {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  letter-spacing: 0.5px;

  color: #000000;
  margin-bottom: 55px;
}

.hypnagogias__text {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 71px;

  color: #000000;
}

.continued__box {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 415px;
}


.comics__continued__img {
  position: relative;
}

.continued__box__title {
  margin: 0 auto;
  padding:0;
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translate(50%,50%);

  font-family: Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 34px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #9EA080;
}




